<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <!-- Filter the Logbooks   -->
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-2'>Date from:</div>
            <div class='col-md-4'>
                <!--<input type='text' [(ngModel)]='listFilter'/>-->
            </div>
        </div>
        <div class='row'>
            <div class='col-md-6'>
                <!--<h3>Filtered by: {{listFilter}} </h3>-->
            </div>
        </div>

        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <tr>
                        <th>Log Type</th>
                        <th>Log Text</th>
                        <th>Log Timestamp</th>
                        <th>Action Type Id</th>
                        <th>Duration</th>
                        <th>Message Type</th>
                        <th>Message</th>
                        <th>Message Timestamp</th>
                        <th>Action Type Shortcut</th>
                        <th>Action Type Name</th>
                    </tr>
                </thead>
                <tbody  *ngIf='logbookMessages && logbookMessages.length'>
                    <tr *ngFor='let logbookMessage of logbookMessages'>
                        <td>{{logbookMessage.log_type}}
                            <!--<img *ngIf='showImage'-->
                                 <!--[src]='product.imageUrl'-->
                                 <!--[title]='product.productName'-->
                                 <!--[style.width.px]='imageWidth'-->
                                 <!--[style.margin.px]='imageMargin'/>-->
                        </td>
                        <td>{{logbookMessage.text}}</td>
                        <td>{{logbookMessage.timestamp}}</td>
                        <td>{{logbookMessage.fk_action_type}}</td>
                        <td>{{logbookMessage.dauer}}</td>
                        <td>{{logbookMessage.message_type}}</td>
                        <td>{{logbookMessage.text_1}}</td>
                        <td>{{logbookMessage.timestamp_1}}</td>
                        <td>{{logbookMessage.shortcut}}</td>
                        <td>{{logbookMessage.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div *ngIf='errorMessage' class='alert alert-danger'>
    Error: {{ errorMessage }}
</div>

